*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    color: #333333;
    font-family: Manrope;
}

/*  */

.title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.375;

}

.title__center {
    text-align: center;
}

.page {
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* всі класи з приставкою __container  */
[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;

}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0px 15px;
    }
                  .title {
                      font-size: 30px;
                  }
}